@font-face {
  font-family: 'Merriweather Sans';
  src: url(MerriweatherSans-VariableFont_wght.ttf) format('truetype');
}


:root {
  --background-color: hsl(37, 53%, 89%);
  --primary-card-color: hsl(0, 0%, 97%);
  --secondary-card-color: hsl(155, 17%, 51%);
  --header-color: rgb(57, 62, 70);
  --gap: 1.5rem;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  background-color: var(--background-color);
  font-family: "Merriweather", sans-serif;
}

/* Main Styling */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}





.primary-header {
  align-items: center;
  justify-content: center;
  background-color: var(--header-color);
  position: fixed;
  width: 100%;
}

.main-nav {
  padding: 1rem;
  list-style: none;
  align-items: center;
}



.checkbtn {
  display: block;
  position: absolute;
  width: 48px;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.menu-line {
  width: 32px;
  height: 5px;
  background-color: var(--secondary-card-color);
  margin-bottom: 5px;
}


.main-nav>li>a {
  text-decoration: none;
  color: var(--primary-card-color);
}

.user_name {
  color: var(--primary-card-color);
}

.bottomNav {
  bottom: 0;
}

.bot-nav {
  padding: 1rem;
  list-style: none;
  align-items: center;
}

.bot-nav>li>a {
  text-decoration: none;
  color: var(--primary-card-color);
}

#search {
  border-radius: .25rem;
  border: none;


}

#search::placeholder {
  text-align: center;
  font-size: 1.2rem;

}

.data {
  padding-inline: 25%;
  padding-block: 10rem;
  justify-content: center;
  align-content: center;

}

.data-content {
  padding: 4rem;
  border-radius: 1rem;
  background: var(--primary-card-color);
}

.timeline_style {
  gap: .8rem;

}

.timeline_style>a>img {
  width: 25%;
  height: auto;
}


/* Für die Detailseite */
.grid-container-product {
  padding: 20rem;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.grid-container-products {
  padding-inline: 2rem;
  padding-block: 8rem;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 15rem;
}

.product-card {
  --content-padding: 1rem;
  background-color: var(--primary-card-color);
  border-radius: 0.5rem;
  overflow: hidden;
  grid-template-columns: repeat(2, 1fr);
}

.product-content {
  padding: var(--content-padding);
}

.product-body {
  overflow-wrap: anywhere;
}

.product-content>a {
  color: var(--secondary-card-color);
  text-decoration: none;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-price {
  font-size: 18px;
}

.profile {
  grid-template-columns: max(16rem) auto;
  gap: 0;

}

.profileChanges {
  grid-column: 1;
  list-style: none;
  padding-inline: 2rem;
  padding-block: 10rem;
  background: var(--primary-card-color);
  height: 100vh;

}

.profileChanges>li>a {
  text-decoration: none;
  color: var(--secondary-card-color);
}

.profileProducts {
  grid-column: 2;
}

.form {
  padding-block: 10rem;
  align-content: center;
  justify-content: center;
  padding-inline: 20rem;
}

.form-card {
  --gap: 0.5rem;
  flex-direction: column;
  padding-block: 2rem;
  padding-inline: 5rem;
  border-radius: 0.5rem;
  background-color: var(--primary-card-color);
}

.form-card-title {
  align-self: center;
}

.button {
  color: var(--primary-card-color);
  background-color: var(--secondary-card-color);
  border: 0;
  border-radius: 0.2rem;
  cursor: pointer;
}

.button[data-setsize="button-size"] {
  width: 10rem;
}

.profileButton {
  background: none;
  border: none;
}

.anzeigeForm-error {
  color: rgb(170, 0, 0);


}

textarea:focus {
  border: none;
  outline: solid var(--secondary-card-color) 2px;
}

input:focus {
  border: none;
  outline: solid var(--secondary-card-color) 2px;

}


@media (max-width: 850px) {

  .checkbtn {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    position: fixed;
    right: -100%;
    flex-direction: column;
    --gab: 0.5rem;
    transition: transform 350ms ease-out;
    background: var(--header-color);
  }

  #check:checked~.main-nav {
    right: 0;
  }



  .grid-container-products {
    grid-template-columns: 1fr;
  }

  .details {
    grid-template-columns: 1fr;
  }

  .profileChanges {
    grid-row: 1;
    grid-column: span 2;
    height: auto;

  }


  .profileProducts {
    grid-row: 2;
    grid-column: span 2;
  }

  .data {
    padding-inline: 10rem;

  }

  .form {
    padding-inline: 5rem;
  }

}

@media (min-width: 850px) and (max-width: 2080px) {
  .grid-container-products {
    grid-template-columns: repeat(2, 1fr);
  }


}