{% extends 'layout.html.njk' %}{%block content %}

<div class="form grid">
  <h1 class="sr-only">Anzeige erstellen</h1>
  <form
    action="#"
    method="POST"
    class="form-card flex"
    accept-charset="utf-8"
    enctype="multipart/form-data"
  >
    <h2 class="form-card-title">Anzeige</h2>
   
    <label for="title">Produkttitel</label>
     {% if errors.title %}<p class="anzeigeForm-error">{{errors.title}}</p>{% endif %}
    <input id="title" type="text" id="title" name="title" value="{{product.title}}" />

    <label for="price">Preis</label>
     {% if errors.price %}<p class="anzeigeForm-error">{{errors.price}}</p>{% endif %}
    <input id="price" type="number" name="price" id="price" value="{{product.price}}" />
   
    <label for="text">Produktbeschreibung</label>
   {% if errors.text %}<p class="anzeigeForm-error">{{errors.text}}</p>{% endif %}
      <textarea id="text" name="text" rows="8" cols="20">{{product.text}}</textarea>
 

    <label for="file">Bild</label>
      {% if errors.upload %}<p class="anzeigeForm-error">{{errors.upload}}</p>{% endif %}
    <input id="file" type="file" id="file" name="file" accept="image/png, image/jpeg" multiple><br><br>
    <input type="hidden" name="_csrf" value="{{ csrf }}">

    <button class="button" type="submit">Anzeige erstellen</button>
  </form>
</div>
{%endblock%}
