{% extends 'layout.html.njk' %}{%block content%}

<div class="grid-container-product grid">
   <h1 class="sr-only">Details der Anzeige</h1>
  <article class="product-card grid details">
  
    <picture class="product-img">
      <img src="/{{product.upload}}" alt="" />
    </picture>
    <div  class="product-content">
      <h2 class="product-title">{{product.title}}</h2>
      <h3 class="product-price">{{product.price}} €</h3>
      <p class="product-body">{{product.text}}</p>
     <form action="/add/{{product.id}}"><button class="button">In den Warenkorb</button></form >
      </div>
  </article>
  </div>
{%endblock%}
