{% extends "layout.html.njk" %}{%block content %}
<div class="data grid">
<div class="data-content">
    <h1>Impressum</h1>
    
        <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
        <p>Lars Paulikat<br/>
            Micha Päplow<br/>
            Hochschule Flensburg University of Applied Sciences<br/>
            Kanzleistra&szlig;e 91-93<br/>
            24943 Flensburg</p>
        <h2>Kontakt</h2>
        <p>Telefon: &#91;Telefonnummer&#93;<br/>
            E-Mail: Lars.Paulikat@Stud.HS-Flensburg.de <br/>
			E-Mail: micha.paeplow@stud.hs-flensburg.de</p>

        <p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
    </div>
  
</div>
{% endblock %}