{% extends 'layout.html.njk' %}{%block content%}

<div class="grid-container-products grid">
<h1 class="sr-only" >Startseite</h1> 
  {% for product in products %}
  <article class="product-card grid">
    <picture >
      <img class="product-img" src="{{product.upload}}" alt="" />
    </picture>
    <div class="product-content">
      <h2 class="product-title">{{product.title}}</h2>
      <p class="product-price">{{product.price}} €</p>
        <a href="/detail/{{product.id}}" >Zur Anzeige</a>
    </div>
  </article>
  {% endfor%}
</div>
{%endblock%}
