{% extends "layout.html.njk" %}
{% block content %}
    <div class="data grid">
        <div class="data-content">
            <h1>Dokumentation
            </h1>
            <p>Micha Päplow 690701 mipa3034, Lars Paulikat 690723 lapa4608</p>
            <h2>Vorstellung unserer Firma/Institution</h2>
            <p class="timeline_style grid">Bei unserer Firma handelt es sich um einen Online-Shop, bei dem Nutzer*innen sich einen
                Account erstellen können, um dann ihre alte PC-Hardware verkaufen zu können. Andererseits können die Nutzer*innen
                natürlich, mit einem verifizierten Account, auch die eingestellte PC-Hardware kaufen. Das Prinzip ist hier recht ähnlich
                zu Ebay-Kleinanzeigen. Die Webseite hat das Ziel, dass man sich nicht unbedingt neue PC-Hardware kaufen muss, sondern
                die alte funktionsfähige von Anderen kaufen kann. Dies wirkt sich auch positiv auf die Umwelt und Nachhaltigkeit aus.
                Die Seite bietet mehrere Funktionen für die Nutzer*innen, je nachdem ob man eingeloggt ist oder nicht. Nicht eingeloggt:
                Die Besucher*innen der Webseite können die Anzeigen sehen, die Suche nutzen und sich einloggen bzw. vorher registrieren.
                Eingeloggt: Die Nutzer*innen der Webseite können Anzeigen erstellen, bearbeiten und löschen, ihre Profildaten ändern,
                wie zum Beispiel E-Mail und Nutzername, und Artikel zu einem Warenkorb hinzufügen. Aufgrund dessen, dass wir im späteren
                Arbeitsverlauf einen Warenkorb hinzugefügt haben, hat sich unsere Anfangsidee eines Ebay Kleinanzeigen ähnlichen Shops
                weiterentwickelt und es hat sich mehr in einen normalen Online-Shop gewandelt.
            </p>
            <br> <hr/> <br>
            <h2>Inhaltstypen</h2>
            <p class="timeline_style grid">Auf unserer Webseite kann man verschiedene Inhalte erstellen, bearbeiten und löschen. Man
                kann Anzeigen erstellen, bei denen man dann verschiedene Parameter angeben muss. Jede Anzeige braucht einen
                Produkttitel, einen Preis, eine Produktbeschreibung und ein Bild. Diese kann man über den Profilaufruf auch wieder
                ändern. Man kann einzelne Parameter oder mehrere Parameter ändern. Außerdem kann man auch das Bild ändern und das alte
                Bild wird gelöscht. Zusätzlich dazu kann man auch direkt die gesamte Anzeige löschen.
                <br>Erstellt man sich einen Account, so muss man dort folgende Parameter angeben: Einen Vor- und Nachnamen, eine E-Mail
                Adresse und ein Passwort. Seinen Namen und seine E-Mail Adresse kann man im Nachhinein auch noch bearbeiten und ändern.
                Dies wird auch in der Datenbank dann aktualisiert.
                <br>Man kann die Produkte zu einem Warenkorb hinzufügen. Die Gesamtsumme aller Produkte werden der kaufenden Person
                angezeigt. Zusätzlich dazu kann man die Produkte aus dem Warenkorb einzeln entfernen. Außerdem kann man diese auch
                kaufen und dann werden sie auch aus dem Warenkorb entfernt.
            </p>
            <br> <hr/> <br>
            <h2>Aufbau der Anwendung</h2>
            <h2>Frontend</h2>
            <p class="timeline_style grid">Auf der Indexseite unserer Webseite findet man eine Übersicht der online gestellten
                Artikel, die andere Nutzer*innen hochgeladen haben. Außerdem hat man noch zwei Navigationsleisten, eine oben und eine
                unten auf dem Bildschirm. In der oberen Navigationsleiste befinden sich, wenn man nicht eingeloggt ist, ein Home-Button,
                eine Suchleiste, ein Login-Button und ein Registrieren-Button. Wenn man eingeloggt ist, befinden sich dort ein
                Home-Button, ein “Anzeige erstellen”-Button, eine Suchleiste, ein Warenkorb-Button, ein Logout-Button und ein
                Profil-Button. In der unteren Navigationsleiste befinden sich ein Kolophon-, ein Impressum- ein Dokumentations- und ein
                Datenschutz-Button. Durch klicken auf den Home-Button gelangt man zur Indexseite. Mit der Suchleiste kann man gezielt
                nach Anzeigen filtern. (Diese Funktion wurde aber nicht implementiert) Durch klicken auf den Login-Button gelangt man
                zur Loginseite, auf der man sich, wenn man sich einen Account erstellt hat, einloggen kann. Durch klicken auf den
                Registrieren-Button kommt man zur Registrierungs-Seite. Erstellt man sich einen Account und klickt auf “Registrieren”,
                gelangt man zur Login-Seite, um sich einzuloggen. Drückt man auf den “Anzeige erstellen”-Button, kann man eine Anzeige
                erstellen. Hier muss man verschiedene Parameter angeben, wie Titel, Preis, Artikelbeschreibung und ein Bild, welches man
                hochladen muss. Durch klicken auf den Profil-Button, gelangt man zur eigenen Profilansicht. Hier findet man, wenn man
                Anzeigen erstellt hat, eine Übersicht seiner eigenen Anzeigen, welche man hier bearbeiten und löschen kann, und einen
                Link, über welchen man seine Profildaten ändern kann. Klickt man auf den Kolophon-Button, gelangt man zu unserem
                Quellverzeichnis. Drückt man auf den Logout-Button, wird man ausgeloggt und zurück auf die Indexseite geleitet. Durch
                Klicken auf den Impressum-Button, findet man unser Impressum und klickt man auf den Datenschutz-Button, findet man dort
                unsere Datenschutzerklärung. Klickt auf den Dokumentations-Button, findet man unsere Dokumentation. Hat man Artikel zum
                Warenkorb hinzugefügt, kann man durch Klicken auf den Warenkorb-Button diese sehen und schließlich kaufen.
            </p>
            <br> <hr/> <br>
            <h2>Backend</h2>
            <p class="timeline_style grid">Im Backend haben wir eine strikte Trennung zwischen den verschiedenen Klassen, um
                schlanke und übersichtliche Controller zu haben.</p>
            <h3>App</h3>
            <p class="timeline_style grid">Unsere Application nimmt die Requests entgegen und erstellt eine Response. Sie verfügt
                über zwei Methoden, einmal die createResponse und die handleRequest.
                <a href="/imagesDoku/image11.png"><img src="/imagesDoku/image11.png" alt="Screenshot von Code">
                </a>
                <a href="/imagesDoku/image8.png"><img src="/imagesDoku/image8.png" alt="Screenshot von Code">
                </a>
                Anfangs hatten wir in der App auch noch den Router und die Cookie-Erstellung. Dies haben wir aber später alles
                “outgesourced”, um die App auf das Nötigste zu reduzieren und eine bessere Übersicht zu haben.
            </p>
            <h3>Router</h3>
            <p class="timeline_style grid">Wir haben uns dazu entschieden, drei Router zu implementieren und sie je nach
                Anwendungszweck aufzuteilen. Die Router sind vom Aufbau aber gleich. Wir haben ein Objekt erstellt, welches die URL
                Pattern mit dem jeweiligen Controller speichert. Dann überprüfen wir, welche URL Pattern mit dem angefragten
                übereinstimmen und führen dann den zugehörigen Controller aus. Den Router hatten wir anfangs noch in der app.js und
                dieser war sehr unübersichtlich und nicht sehr effizient, weshalb wir uns für diese Aufteilung entschieden und diesen
                optimiert haben durch das Objekt und die if-Abfrage.
                <a href="/imagesDoku/image10.png"><img src="/imagesDoku/image10.png" alt="Screenshot von Code">
                </a>
                <a href="/imagesDoku/image5.png"><img src="/imagesDoku/image5.png" alt="Screenshot von Code">
                </a>
            </p>
            <h4>Standard Router:</h4>
            <p class="timeline_style grid">Der Standard Router führt die Routen aus, für die man nicht authentifiziert sein muss und
                bei denen die Methode “GET” ist.
                <a href="/imagesDoku/image14.png"><img src="/imagesDoku/image14.png" alt="Screenshot von Code">
                </a>
            </p>
            <h4>Login Router:</h4>
            <p class="timeline_style grid">Der Login Router führt die Routen aus, für die man authentifiziert sein muss. Dafür ist
                eine extra Abfrage nötig, ob die Nutzer*innen authentifiziert sind.
                <a href="/imagesDoku/image2.png"><img src="/imagesDoku/image2.png" alt="Screenshot von Code">
                </a>
            </p>
            <h4>Post Router:</h4>
            <p class="timeline_style grid">Der Post Router führt die Routen aus, bei denen die Methode “Post” ist.
                <a href="/imagesDoku/image4.png"><img src="/imagesDoku/image4.png" alt="Screenshot von Code">
                </a>
            </p>
            <h3>Authentifizierung</h3>
            <p class="timeline_style grid">Nach dem Login wird der User in der Session gespeichert, das Passwort wird aber vorher
                noch auf “undefined” gesetzt. Auf den Routen, die nur für eingeloggte Nutzer*innen zur Verfügung stehen, wird dann
                abgefragt ob ein/e eingeloggte/r Nutzer*in in der Session vorhanden ist. Die Methode isAuthenticated haben wir in einer
                eigenen JavaScript-File angelegt, damit in den verschiedenen Routern darauf zugegriffen werden kann und die nicht
                mehrmals angelegt werden muss.
                <a href="/imagesDoku/image12.png"><img src="/imagesDoku/image12.png" alt="Screenshot von Code">
                </a>
                <a href="/imagesDoku/image3.png"><img src="/imagesDoku/image3.png" alt="Screenshot von Code">
                </a>
                <a href="/imagesDoku/image2.png"><img src="/imagesDoku/image2.png" alt="Screenshot von Code">
                </a>
            </p>
            <h3>Passwort hashen für die Datenbank</h3>
            <p class="timeline_style grid">Wenn sich ein/e neue/r Nutzer*in registriert muss natürlich auch das Passwort in der
                Datenbank gespeichert werden, um so einen sicheren Login zu gewährleisten. Das Passwort wird aber als Hashwert in der
                Datenbank gespeichert, um so sicher zu gehen, dass das Passwort niemals an Fremde gelangt. Um das Passwort als Hashwert
                in der Datenbank zu speichern haben wir ein externes Modul namens “BCrypt” genutzt. Dieses nimmt das eingegebene
                Passwort des Registrierenden und hasht es dann. Andererseits kann “BCrypt” dann auch beim Login das eingegebene Passwort
                mit dem gehashtem Passwort aus der Datenbank vergleichen.
                <a href="imagesDoku/image7.png"><img src="imagesDoku/image7.png" alt="Screenshot von Code">
                </a>
                <a href="imagesDoku/image15.png"><img src="imagesDoku/image15.png" alt="Screenshot von Code">
                </a>
                <a href="imagesDoku/image13.png"><img src="imagesDoku/image13.png" alt="Screenshot von Code">
                </a>
            </p>
            <h3>CSRF Token</h3>
            <p class="timeline_style grid">Als weiteren Sicherheitsaspekt haben wir CSRF Token in den Formularen eingebaut. Dieser
                wird einmalig erstellt, wenn der/die Nutzer*in ein Formular öffnet und in diesem versteckt gespeichert. Beim Abschicken
                des Formulars wird dann überprüft, ob der Token aus dem Formular mit dem übereinstimmt, der in der Session gespeichert
                wurde. Stimmen die Tokens nicht überein, wird ein 403 Fehler geworfen und der Zugriff verwehrt.
                <a href="imagesDoku/image1.png"><img src="imagesDoku/image1.png" alt="Screenshot von Code">
                </a>
                <a href="imagesDoku/image9.png"><img src="imagesDoku/image9.png" alt="Screenshot von Code">
                </a>
                <a href="imagesDoku/image3.png"><img src="imagesDoku/image3.png" alt="Screenshot von Code">
                </a>
            </p>
            <h3>Controller</h3>
            <p class="timeline_style grid">Unser Backend verfügt über mehrere Controller. Diese unterscheiden sich, je nach
                Anwendungszweck, ein wenig. Im groben Aufbau sind sie aber doch gleich. Die Controller rendern das HTML, übergeben
                eventuell noch Parameter an dieses und setzen einen Response Status. Der Logincontroller zum Beispiel aber, wertet
                vorher aber noch das Formular aus und prüft, ob Benutzername und Passwort übereinstimmen. Stimmen diese nicht überein,
                wird die Seite mit den entsprechenden Fehlern neu gerendert. Zusätzlich dazu wird vorher aber noch geprüft, ob der
                CSRF-Token übereinstimmt, stimmen diese nicht überein, wird unsere 403-Error-Seite gerendert und der Zugriff auf die
                Seite wird verwehrt. Das gleiche passiert, wenn zum Beispiel Nutzer*innen versuchen Seiten zu besuchen, die nur für
                authentifizierte Nutzer*innen zur Verfügung steht.</p>
            <br> <hr/> <br>
            <h2>Threat Modelling</h2>
            <p class="timeline_style grid">Die Passwörter der Nutzer*innen haben wir in unserer Datenbank als kryptischen Hash Wert
                gespeichert. Das verhindert, falls unsere Datenbank gehackt wird, dass die Passwörter zu den Nutzer*innen dem Hacker zur
                Verfügung stehen. Unsere Formulare werden durch zusätzliche CSRF-Token gesichert, so dass sich nicht Angreifer durch
                fälschliche HTTP-Request in unsere Webseite einschleusen können.
            </p>
            <br> <hr/> <br>
            <h2>Datenbank</h2>
            <p class="timeline_style grid">In unserer Datenbank haben wir drei verschiedene Tabellen. Eine für die Nutzer*innen,
                einen für die Produkte/Anzeigen und eine für den Warenkorb.</p>
            <h3>User Table</h3>
            <p class="timeline_style grid">In der Datenbank für unsere Nutzer*innen speichern wir Vornamen, Nachnamen, E-Mail,
                Passwort und eine Nutzer-ID. Die Nutzer-ID wird automatisch erstellt und inkrementiert.</p>
            <h3>Product Table</h3>
            <p class="timeline_style grid">In der Datenbank für die Produkte werden Name des Produkts, eine Produktbeschreibung, ein
                Preis, ein Bild, eine Produkt-ID und die ID des/der erstellten Nutzers*in. Das Bild speichern wir nicht direkt in der
                Datenbank, sondern nur den Dateipfad, wo dieses liegt. Die ID der Ersteller*innen werden hier als Foreign-Key
                gespeichert. Dies brauchen wir, um auf der eigenen Profilseite die erstellten Anzeigen zeigen zu können.</p>
            <h3>Checkout Table</h3>
            <p class="timeline_style grid">In der Datenbank für den Warenkorb speichern wir die ID des Produkts und die ID der
                Nutzer*innen, welche den Artikel hinzugefügt haben. So werden, wenn sich Details des Produkts ändern und dieses noch im
                Warenkorb liegt, immer die richtigen und aktuellen Daten angezeigt.</p>
            <br> <hr/> <br>
            <h2>Progressive Enhancement</h2>
            <p class="timeline_style grid">Damit unsere Webseite auf allen Geräten und auch auf allen Browsern gut funktioniert,
                haben wir schon im HTML auf ein sauberes, semantisches HTML geachtet. Im zweiten Schritt haben wir dann über das CSS das
                Design angepasst und auch für alle Bildschirmgrößen optimiert. Auf besonders kleinen Bildschirmen, wie zum Beispiel bei
                Mobilgeräten, haben wir die obere Navigationsleiste in ein aufklappbares Burger Menü geändert, da nicht alle Elemente in
                die Navigationsleiste gepasst hätten. Des Weiteren haben wir für ein Responsive Design mit Grid- und Flexbox Layouts
                gearbeitet. Das Burger Menü haben wir anfangs mit JavaScript umgesetzt, da es hier aber zu Problemen führt, wenn das
                JavaScript nicht eingeschaltet oder unterstützt wird, haben wir es dann mit CSS über eine Checkbox gelöst.
            </p>
            <h2>
                <a href="/timeline">Zeitleiste</a>
            </h2>
        </div>
    </div>
{% endblock %}