{% extends 'layout.html.njk' %}{%block content%}
<div class="data grid">
    <div class="data-content">
        <H1>Kolophon</H1>
        <a href="https://www.svgrepo.com/svg/390671/profile-user-avatar-man-person">
            <p>https://www.svgrepo.com/svg/390671/profile-user-avatar-man-person</p>
        </a>
        <a href="https://www.joshwcomeau.com/css/custom-css-reset/">
            <p>https://www.joshwcomeau.com/css/custom-css-reset/</p>
        </a>
        <a href="https://www.svgrepo.com/svg/471896/shopping-cart-03">
            <p>https://www.svgrepo.com/svg/471896/shopping-cart-03</p>
        </a>
        <a href="https://colorhunt.co/palette/393e466d9886f2e7d5f7f7f7">
            <p>https://colorhunt.co/palette/393e466d9886f2e7d5f7f7f7</p>
        </a>
        <a href="https://css-tricks.com/inclusively-hidden/<">
            <p>https://css-tricks.com/inclusively-hidden/</p>
        </a>
        <a href="https://fonts.google.com/specimen/Merriweather+Sans?query=merriweather<">
            <p>https://fonts.google.com/specimen/Merriweather+Sans?query=merriweather</p>
        </a>
    </div>
</div>
{%endblock%}