<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    
    <title>Hausarbeit</title>
  </head>

  
  <body>
    <header class="primary-header flex">
    
        <span class="sr-only">Menu</span>
      
      <nav>
        <input type="checkbox" id="check"/>
        <label for="check" class="checkbtn">
          <div class="menu-line"></div>
          <div class="menu-line"></div>
          <div class="menu-line"></div>
          </label>
        <ul   class="main-nav  flex">
          <li>
            <a href="/">Home</a>
          </li>
          
          {% if authenticated %}
          <li><a href="/anzeige">Anzeige erstellen</a></li>
          {% endif %}
          <li>
            <input type="text" placeholder="Suche" name="Search" id="search" />
          </li>
          {% if authenticated %}
          <li>
             <form action="/logout">
              <button class="button" data-setsize="button-size">Logout</button>
            </form>
            </li>
              <li>
            <form action="/profile">
                  <button class="button profileButton">
            <img src="/profile.svg" alt="Profile Icon" />
          </button>
             </form>
       </li>
       <li>
            <form action="/checkout">
            <button class="profileButton button">
              <img src="/shopping-cart.svg" alt="">
            </button>
            </form>
           </li>
            {% else %}
            <li>
             <form action="/login">
              <button class="button" data-setsize="button-size">Login</button>
            </form>
           </li>
          <li>
            <form action="/register">
              <button class="button" data-setsize="button-size">
                Registrieren
              </button>
              </form>
        </li>
         {% endif %}
        </ul>
      </nav>
    </header>

     {%block content%} {%endblock%}
    
      <footer class="primary-header bottomNav flex">
        <nav>
          <ul   class="bot-nav flex">
              <li><a href="/kollophon" >Kolophon</a></li>
              <li><a href="/indexDoku">Dokumentation</a></li>
              <li><a href="/impressum" >Impressum</a></li>
              <li><a href="/datenschutz">Datenschutz</a></li>
          </ul>
        </nav>
        </footer>
   
  </body>
 
    
</html>
