{% extends 'layout.html.njk' %} {% block content %}

<div class="form grid">
  <h1 class="sr-only">Login Seite</h1>
  <form action="#" method="POST" class="form-card flex" accept-charset="utf-8"
    enctype="multipart/form-data">
    <h2 class="form-card-title">Login</h2>
     {% if errors.error %}<p class="anzeigeForm-error">{{errors.error}}</p>{% endif %}
   
    <label for="username">E-Mail</label>
     {% if errors.username %}<p class="anzeigeForm-error">{{errors.username}}</p>{% endif %}
    <input id="username"type="text" placeholder="E-Mail" name="username" value="{{user.username}}"/>
   
 
    <label for="password">Passwort</label>
     {% if errors.password %}<p class="anzeigeForm-error">{{errors.password}}</p>{% endif %}
    <input id="password" type="password" placeholder="Passwort" name="password" value="{{user.password}}" />
    <input type="hidden" name="_csrf" value="{{ csrf }}">
    <button class="button" type="submit" type>Login</button>
    <p>Noch kein Account? <a href="/register">Register hier!</a></p>
  </form>
</div>

{% endblock %}
