{% extends 'layout.html.njk' %}{%block content %}

<div class="profile grid">
  
  <h1 class="sr-only" >Profil</h1> 
  <ul class="profileChanges">
    <li><h2>Meine Anzeigen</h2></li>
    <li><a href="/profileEdit">Profil bearbeiten</a></li>
  
  </ul>
  <div class="grid-container-products profileProducts grid">
    {% for product in products %}
    <article class="product-card grid">
      <picture >
        <img class="product-img" src="{{product.upload}}" alt="" />
      </picture>
      <div class="product-content">
        <h2 class="product-title">{{product.title}}</h2>
        <p class="product-price">{{product.price}} €</p>
          <a href="/profile/{{product.id}}/edit" >Anzeige bearbeiten</a>
          <a href="/profile/{{product.id}}/delete">Anzeige löschen</a>
      </div>
    </article>
    {% endfor%}
  </div>
</div >
{% endblock %}