{% extends 'layout.html.njk' %} {% block content %}

<div class="form grid">
  <h1 class="sr-only">Profil bearbeiten</h1>
  <form action="#" method="POST" class="form-card flex" accept-charset="utf-8"
    enctype="multipart/form-data">
    <h2 class="form-card-title">Profildaten</h2>
    
    <label for="firstName">Vorname</label>
     {% if errors.firstName %}<p class="anzeigeForm-error">{{errors.firstName}}</p>{% endif %}
    <input type="text" placeholder="Vorname" name="firstName" value="{{user.firstName}}"/>
   
    <label for="lastName">Nachname</label>
    {% if errors.lastName %}<p class="anzeigeForm-error">{{errors.lastName}}</p>{% endif %}
    <input type="text" placeholder="Nachname" name="lastName" value="{{user.lastName}}" />
   
    <label for="email">E-Mail</label>
    {% if errors.email %}<p class="anzeigeForm-error">{{errors.email}}</p>{% endif %}
    <input type="email" placeholder="E-Mail" name="email" value="{{user.email}}"/>
    <input type="hidden" name="_csrf" value="{{ csrf }}">
   
    <button class="button" type="submit">Speichern</button>
   
  </form>
</div>
{% endblock %}
