{% extends 'layout.html.njk' %} {% block content %}

<div class="form grid">
  <h1 class="sr-only">Registrierung</h1>
  <form action="#" method="POST" class="form-card flex" accept-charset="utf-8"
    enctype="multipart/form-data">
    <h2 class="form-card-title">Registrierung</h2>
    
    <label for="firstName">Vorname</label>
     {% if errors.firstName %}<p class="anzeigeForm-error">{{errors.firstName}}</p>{% endif %}
    <input id="firstName" type="text" placeholder="Vorname" name="firstName" value="{{user.firstName}}"/>
   
    <label for="lastName">Nachname</label>
    {% if errors.lastName %}<p class="anzeigeForm-error">{{errors.lastName}}</p>{% endif %}
    <input id="lastName" type="text" placeholder="Nachname" name="lastName" value="{{user.lastName}}" />
   
    <label for="email">E-Mail</label>
    {% if errors.email %}<p class="anzeigeForm-error">{{errors.email}}</p>{% endif %}
    <input id="email" type="email" placeholder="E-Mail" name="email" value="{{user.email}}"/>
    
    <label for="password">Passwort</label>
    {% if errors.password %}<p class="anzeigeForm-error">{{errors.password}}</p>{% endif %}
    <input id="password" type="password" placeholder="Passwort" name="password"  value="{{user.password}}"/>
    
    <label for="passwordCehck">Passwort bestätigen</label>
      {% if errors.passwordCheck %}<p class="anzeigeForm-error">{{errors.passwordCheck}}</p>{% endif %}
    <input id="passwordCheck" type="password" placeholder="Passwort" name="passwordCheck" value="{{user.passwordCheck}}"/>
    <input type="hidden" name="_csrf" value="{{ csrf }}">
    <button class="button" type="submit">Registrieren</button>
    <p>Schon einen Account? <a href="/login">Login hier!</a></p>
  </form>
</div>
{% endblock %}
