a{% extends "layout.html.njk" %}
{% block content %}
  <div class="data grid">
    <div class="data-content">
      <h1>Zeitleiste</h1>
      <article>
        <h2>Schritt: 1</h2>
        <h3>Datum</h3>
        <p class="timeline_style grid">
          Besprechen des Konzepts und der Gestaltung der neuen Seite. Dazu wurde eine Farbpalette herausgesucht, die eine
          schlichte, jedoch moderne und warme Gestaltung der Webpage zulässt.
          <a href="/Timline_Images/image69.png"><img src="/Timline_Images/image69.png" alt="Farbpalette"/>
          </a>
        </p>
      </article>
      <br/> <hr/> <br/>
      <article>
        <h2>Schritt: 2</h2>
        <h3>Datum</h3>
        <p class="timeline_style grid">
          Prototype Design mobile Seiten:
          <a href="/Timline_Images/image15.png"><img src="/Timline_Images/image15.png" alt="Prototype Image"/>
          </a>
          Prototype Design normale Seiten:
          <a href="/Timline_Images/image65.png"><img src="/Timline_Images/image65.png" alt="Prototype Image"/>
          </a>
        </p>
      </article>
      <br/> <hr/> <br/>
      <article>
        <h2>Schritt: 3</h2>
        <h3>30.11.2022</h3>
        <p class="timeline_style grid">
          Aufbau der ersten Seiten in HTML wie die Layout.html mit NAV-Bar
          <a href="/Timline_Images/image22.png"><img src="/Timline_Images/image22.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image79.png"><img src="/Timline_Images/image79.png" alt="Farbpalette"/>
          </a>
        </p>
      </article>
      <br/> <hr/> <br/>
      <article>
        <h2>Schritt: 4</h2>
        <h3>30.11.2022</h3>
        <p class="timeline_style grid">
          Nachdem die ersten Seiten mit HTML geschrieben waren, haben wir mit dem CSS begonnen. Angefangen mit einem CSS reset den
          wir von
          <a href="https://www.joshwcomeau.com/css/custom-css-reset/">https://www.joshwcomeau.com/css/custom-css-reset/</a>
          haben.
        </p>
      </article>
      <br/> <hr/> <br/>
      <article>
        <h2>Schritt: 5</h2>
        <h3>30.11.2022</h3>
        <p class="timeline_style grid">
          Erstellen der Screenreader-Only-Class im CSS, um ungewollte Elemente auszublenden, diese jedoch so, dass der
          Screenreader diese weiter erfassen kann.
          <a href="/Timline_Images/image24.png"><img src="/Timline_Images/image24.png" alt="Farbpalette"/>
          </a>
          <a href="https://css-tricks.com/inclusively-hidden/">https://css-tricks.com/inclusively-hidden/
          </a>
          So wie erstellen von grundlegenden Klassen und Variablen für die genutzten Farben, die häufiger wiederverwendet
          werden.
          <a href="/Timline_Images/image38.png"><img src="/Timline_Images/image38.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image28.png"><img src="/Timline_Images/image28.png" alt="Farbpalette"/>
          </a>
        </p>
      </article>
      <br/> <hr/> <br/>
      <article>
        <h2>Schritt: 6</h2>
        <h3>30.11.2022</h3>
        <p class="timeline_style grid">
          Einbauen der Funktionalität der Navbar über CSS und Javascript. Die Navbar wird ab einer max-width der Seite
          ausgeblendet. Mit einem Imagebutton kann über eine Javascript-Datei dann die aria-expanded Value im html von false auf
          true gesetzt werden und wieder zurück. Das CSS regelt dann die jeweiligen Änderungen.
          <a href="/Timline_Images/image9.png"><img src="/Timline_Images/image9.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image63.png"><img src="/Timline_Images/image63.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image57.png"><img src="/Timline_Images/image57.png" alt="Farbpalette"/>
          </a>
        </p>
      </article>
      <br/> <hr/> <br/>
      <article>
        <h2>Schritt: 7</h2>
        <h3>03.12.2022</h3>
        <p class="timeline_style grid">
          Erstellen der ersten Form im HTML für den Login.
          <a href="/Timline_Images/image62.png"><img src="/Timline_Images/image62.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image68.png"><img src="/Timline_Images/image68.png" alt="Farbpalette"/>
          </a>
        </p>
      </article>
      <br/> <hr/> <br/>
      <article>
        <h2>Schritt: 8</h2>
        <h3>03.12.2022</h3>
        <p class="timeline_style grid">
          Erweiterung der Login Form sowie das CSS. Erstellen einer Form für die Registrierung:
          <a href="/Timline_Images/image47.png"><img src="/Timline_Images/image47.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image19.png"><img src="/Timline_Images/image19.png" alt="Farbpalette"/>
          </a>
        </p>
      </article>
      <br/> <hr/> <br/>
      <article>
        <h2>Schritt: 9</h2>
        <h3>05.12.2022</h3>
        <p class="timeline_style grid">
          Nachdem wir nun eine grobe Struktur hatten, haben wir die Backend-Struktur aus der Laboraufgabe 7 in unsere Hausarbeit
          eingebaut. Wichtig dafür sind vor allem die Handlerequest und der Router.
          <a href="/Timline_Images/image18.png"><img src="/Timline_Images/image18.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image54.png"><img src="/Timline_Images/image54.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image8.png"><img src="/Timline_Images/image8.png" alt="Farbpalette"/>
          </a>
        </p>
      </article>
      <br/> <hr/> <br/>
      <article>
        <h2>Schritt: 10</h2>
        <h3>05.12.2022</h3>
        <p class="timeline_style grid">
          Als wir alle nötigen Files aus der Laboraufgabe hatten, wurden diese in ihrer Funktion wiederhergestellt. So dass auch
          neue Funktionen wie form und formRegister genutzt werden konnten.
          <a href="/Timline_Images/image20.png"><img src="/Timline_Images/image20.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image55.png"><img src="/Timline_Images/image55.png" alt="Farbpalette"/>
          </a>
        </p>
      </article>
      <br/> <hr/> <br/>
      <article>
        <h2>Schritt: 11</h2>
        <h3>06.12.2022</h3>
        <p class="timeline_style grid">
          Da wir nun die ersten Anzeigen aus der Datenbank auf der Index-Seite mit der Lockig aus der Laboraufgabe anzeigen lassen
          konnten. Wir haben neue Funktionen sowie einen neuen Controller für die Form zum Einloggen und Registrieren erstellt.
          <a href="/Timline_Images/image1.png"><img src="/Timline_Images/image1.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image13.png"><img src="/Timline_Images/image13.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image53.png"><img src="/Timline_Images/image53.png" alt="Farbpalette"/>
          </a>
        </p>
      </article>
      <br/> <hr/> <br/>
      <article>
        <h2>Schritt: 12</h2>
        <h3>07.12.2022</h3>
        <p class="timeline_style grid">
          Erstellen einer StaticFile Methode, die auf die Style.css im Public-Ordner zugreifen soll. Nach einem Laborbesuch wurde
          allerdings klar, dass diese Methode nur die Style.css ausführt. Ein Zugriff auf andere Dateien wäre so nicht möglich
          gewesen.
          <a href="/Timline_Images/image74.png"><img src="/Timline_Images/image74.png" alt="Farbpalette"/>
          </a>
        </p>
      </article>
      <br/> <hr/> <br/>
      <article>
        <h2>Schritt: 13</h2>
        <h3>14.12.2022</h3>
        <p class="timeline_style grid">
          Umbau der Detailseite von Manuel zu Automatisch. ID in CTX hinzugefügt abfrage im Router änderung im Controller und
          ausgabe der ID hinter dem detail pfad in der Index.html
          <a href="/Timline_Images/image58.png"><img src="/Timline_Images/image58.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image50.png"><img src="/Timline_Images/image50.png" alt="Farbpalette"/>
          </a>
        </p>
      </article>
      <br/> <hr/> <br/>
      <article>
        <h2>Schritt: 14</h2>
        <h3>17.12.2022</h3>
        <p class="timeline_style grid">
          Nach dem Tutorium von Lukas. Haben wir die StaticFile Methode so anpassen können, dass sie nun als Middleware
          funktioniert. Was dazu geführt hat, dass wir weiter aufgeräumt haben. Somit wurden einige Funktionen sowie Methoden aus
          der app.js in eigene Dateien ausgelagert und die Pipe für die Middleware eingebaut. Zusätzlich wurde eine Methode
          erstellt, die eine Upload-Datei mit einem zufälligen und einzigartigen Namen erstellt und dann im Dateisystem speichert.
          <a href="/Timline_Images/image64.png"><img src="/Timline_Images/image64.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image44.png"><img src="/Timline_Images/image44.png" alt="Farbpalette"/>
          </a>
          Auch die createResponse aus der handleRequest ausgelagert und der Aufruf der Pipe Funktion in die handleRequest
          eingebaut.
          <a href="/Timline_Images/image71.png"><img src="/Timline_Images/image71.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image43.png"><img src="/Timline_Images/image43.png" alt="Farbpalette"/>
          </a>
        </p>
      </article>
      <br/> <hr/> <br/>
      <article>
        <h2>Schritt: 15</h2>
        <h3>22.12.2022</h3>
        <p class="timeline_style grid">
          Zum überprüfen, der Eingaben in den Formularen haben wir eine Validate-Funktion geschrieben. welche dann im weiteren
          verlauf auch die generateFile aufgerufen hat, wenn die Eingaben alle Valide waren. Damit keine Datei erstellt wird, wenn
          nicht alle Felder Valide sind, wurde dies abgefangen.
          <a href="/Timline_Images/image17.png"><img src="/Timline_Images/image17.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image27.png"><img src="/Timline_Images/image27.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image5.png"><img src="/Timline_Images/image5.png" alt="Farbpalette"/>
          </a>
        </p>
      </article>
      <br/> <hr/> <br/>
      <article>
        <h2>Schritt: 16</h2>
        <h3>30.12.2022</h3>
        <p class="timeline_style grid">
          Erstellen der Logik für die Registrierung mit Speicherung der Daten in der Datenbank, anfangs jedoch noch ohne hashen
          des Passworts. Erweitern der isValid um die Eingabefelder der Registrierung, dabei wurde auch festgestellt, dass nicht
          vorhandene Felder null liefern, dies musste abgefangen werden. Für die Registrierung haben wir eine neue Tabelle in der
          Datenbank erstellt. Außerdem wurde die Ausgabe der Errors in die HTML-File eingebaut.
          <a href="/Timline_Images/image52.png"><img src="/Timline_Images/image52.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image80.png"><img src="/Timline_Images/image80.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image3.png"><img src="/Timline_Images/image3.png" alt="Farbpalette"/>
          </a>
        </p>
      </article>
      <br/> <hr/> <br/>
      <article>
        <h2>Schritt: 17</h2>
        <h3>30.12.2022</h3>
        <p class="timeline_style grid">
          Login und Register gehen. Die Mehrfachnutzung einer E-Mail ist bei der Registrierung nicht möglich. Passwort wird nun
          auch gehashed. Speichern in der Datenbank und auslesen funktioniert auch, mit Überprüfung auf User. Noch keine cookies
          oder session. Den Login haben wir hier nur mit einer Variablen realisiert. Diese wurde im HTML abgefragt. Der Wert
          konnte im Controller händisch geändert werden.
          <a href="/Timline_Images/image36.png"><img src="/Timline_Images/image36.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image23.png"><img src="/Timline_Images/image23.png" alt="Farbpalette"/>
          </a>
        </p>
      </article>
      <br/> <hr/> <br/>
      <article>
        <h2>Schritt: 18</h2>
        <h3>02.01.2023</h3>
        <p class="timeline_style grid">
          Erstellte Anzeigen können jetzt bearbeitet werden. Dafür haben wir die add methode und die submitAdd methode der
          Anzeigenerstellung kopiert und umbenannt. Über eine zusätzliche Funktion wird das Bild über SQL dann anhand der ID
          geupdatet.
          <a href="/Timline_Images/image26.png"><img src="/Timline_Images/image26.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image75.png"><img src="/Timline_Images/image75.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image45.png"><img src="/Timline_Images/image45.png" alt="Farbpalette"/>
          </a>
        </p>
      </article>
      <article>
        <h2>Schritt: 19</h2>
        <h3>03.01.2023</h3>
        <p class="timeline_style grid">
          Korrektur einiger Fehler. Durch die For Schleife konnte immer nur der erste und letzte Eintrag geprüft werden.
          <a href="/Timline_Images/image33.png"><img src="/Timline_Images/image33.png" alt="Farbpalette"/>
          </a>
          Zweiter Versuch nach der For Schleife, bei einer Registrierung die Verwendung einer schon registrierten E-Mail zu
          vermeiden.
          <a href="/Timline_Images/image4.png"><img src="/Timline_Images/image4.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image2.png"><img src="/Timline_Images/image2.png" alt="Farbpalette"/>
          </a>
        </p>
      </article>
      <br/> <hr/> <br/>
      <article>
        <h2>Schritt: 20</h2>
        <h3>04.01.2023</h3>
        <p class="timeline_style grid">
          Idee zur Änderung der isValid. <br/> Auszug aus der alten IsValid. Diese hat jedes einzelne Eingabefeld einzeln
          behandelt. wodurch nicht nur die isValid sehr lang wurde, sondern auch die Controller.:
          <a href="/Timline_Images/image46.png"><img src="/Timline_Images/image46.png" alt="Farbpalette"/>
          </a>
          Auszug eines alten Controller aufbaus mit der alten isvalid:
          <a href="/Timline_Images/image11.png"><img src="/Timline_Images/image11.png" alt="Farbpalette"/>
          </a>
          isValid neu, liefert nun die Strings für die Fehler anzeige zurück:
          <a href="/Timline_Images/image61.png"><img src="/Timline_Images/image61.png" alt="Farbpalette"/>
          </a>
          isValid neu in den Controllern:
          <a href="/Timline_Images/image16.png"><img src="/Timline_Images/image16.png" alt="Farbpalette"/>
          </a>
        </p>
      </article>
      <br/> <hr/> <br/>
      <article>
        <h2>Schritt: 21</h2>
        <h3>10.01.2023</h3>
        <p class="timeline_style grid">
          Anzeige bearbeiten, abgeändert. Überprüfung, ob ein neues Bild hochgeladen werden soll oder nicht. Wenn nicht, wird das
          alte aus der Datenbank ausgelesen. Soll ein neues Bild hochgeladen werden, wird der alte Pfad in der Datenbank
          überschrieben mit dem neuen. Jedoch das alte Bild im Dateisystem noch nicht gelöscht. <
          href="/public/Timline_Images/image21.png"">
          <a href="/Timline_Images/image21.png">
            <img src="/Timline_Images/image21.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image72.png"><img src="/Timline_Images/image72.png" alt="Farbpalette"/>
          </a>
        </p>
      </article>
      <br/> <hr/> <br/>
      <article>
        <h2>Schritt: 22</h2>
        <h3>11.01.2023</h3>
        <p class="timeline_style grid">
          Erstellen einer Profilseite, von der aus später Anzeigen bearbeitet werden können. Erweitern der Layout.html Einbau
          einer Verlinkung über Router und Controller zur Profilseite.Sowie Einbau der Cookies und einer Authentifizierung.
          <a href="/Timline_Images/image31.png"><img src="/Timline_Images/image31.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image7.png"><img src="/Timline_Images/image7.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image67.png"><img src="/Timline_Images/image67.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image77.png"><img src="/Timline_Images/image77.png" alt="Farbpalette"/>
          </a>
        </p>
      </article>
      <br/> <hr/> <br/>
      <article>
        <h2>Schritt: 23</h2>
        <h3>12.01.2023</h3>
        <p class="timeline_style grid">
          Erstellen einer Funktion zum Löschen der Bilder. Wird ein neues Bild beim Bearbeiten der Anzeige hochgeladen oder die
          Anzeige gelöscht, so wird auch das alte Bild nun aus dem Dateisystem gelöscht.
          <a href="/Timline_Images/image51.png"><img src="/Timline_Images/image51.png" alt="Farbpalette"/>
          </a>
          Funktion im Controller zum löschen einer Anzeige:
          <a href="/Timline_Images/image23.png"><img src="/Timline_Images/image59.png" alt="Farbpalette"/>
          </a>
          Datenbank aufruf zum Löschen einer Anzeige:
          <a href="/Timline_Images/image6.png"><img src="/Timline_Images/image6.png" alt="Farbpalette"/>
          </a>
        </p>
      </article>
      <br/> <hr/> <br/>
      <article>
        <h2>Schritt: 24</h2>
        <h3>12.01.2023</h3>
        <p class="timeline_style grid">
          Aufräumen der app.js, umbau der isAuthenticated:
          <br/> Auslagern des Router in eigene Router.js
          <a href="/Timline_Images/image70.png"><img src="/Timline_Images/image70.png" alt="Farbpalette"/>
          </a>
          Aufteilen der isAuthenticated in neue isAuthenticated und currentUser.
          <a href="/Timline_Images/image25.png"><img src="/Timline_Images/image25.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image34.png"><img src="/Timline_Images/image34.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image14.png"><img src="/Timline_Images/image14.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image78.png"><img src="/Timline_Images/image78.png" alt="Farbpalette"/>
          </a>
        </p>
      </article>
      <br/> <hr/> <br/>
      <article>
        <h2>Schritt: 25</h2>
        <h3>13.01.2023</h3>
        <p class="timeline_style grid">
          Prüfen der Semantik in den HTML-Dateien Einbau einer H1 auch auf Seiten, wo sie nicht sichtbar ist. Auslagern der
          Cookies und Session Erzeugung aus der app.js Aufruf nun über die Pipe.
          <a href="/Timline_Images/image12.png"><img src="/Timline_Images/image12.png" alt="Farbpalette"/>
          </a>
          Die app.js beinhaltet nun nur noch die handleRequest und die createResponse Funktionen. Alles andere ist ausgelagert
          worden.
          <a href="/Timline_Images/image37.png"><img src="/Timline_Images/image37.png" alt="Farbpalette"/>
          </a>
        </p>
      </article>
      <br/> <hr/> <br/>
      <article>
        <h2>Schritt: 26</h2>
        <h3>13.01.2023</h3>
        <p class="timeline_style grid">
          CSS geändert für die Profilseite. Profilseite umgebaut, keine Detailansicht mehr der einzelnen Anzeigen, stattdessen
          direktes Bearbeiten und Löschen im Profil. Neue Seite zum Bearbeiten des eigenen Profils erstellt.
          <a href="/Timline_Images/image82.png"><img src="/Timline_Images/image82.png" alt="Farbpalette"/>
          </a>
          Error404.js gelöscht dafür neue errorStatus.js, in dieser werden nun error404 und error403 als fallback
          aufgerufen.
          <a href="/Timline_Images/image60.png"><img src="/Timline_Images/image60.png" alt="Farbpalette"/>
          </a>
        </p>
      </article>
      <br/> <hr/> <br/>
      <article>
        <h2>Schritt: 27</h2>
        <h3>14.01.2023</h3>
        <p class="timeline_style grid">
          Eine der größten Änderungen war der Umbau des Routers.
          <br/> RouterNeu.js:
          <a href="/Timline_Images/image66.png"><img src="/Timline_Images/image66.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image32.png"><img src="/Timline_Images/image32.png" alt="Farbpalette"/>
          </a>
          RouterPost.js:
          <a href="/Timline_Images/image49.png"><img src="/Timline_Images/image49.png" alt="Farbpalette"/>
          </a>
          RouterLogin.js
          <a href="/Timline_Images/image56.png"><img src="/Timline_Images/image56.png" alt="Farbpalette"/>
          </a>
          Hier zum vergleich der alte Router:
          <a href="/Timline_Images/image30.png"><img src="/Timline_Images/image30.png" alt="Farbpalette"/>
          </a>
          Jeder Router hat sein eigenes Pattern Array mit Objekten für die URIs und die
                              Controller
          <a href="/Timline_Images/image35.png"><img src="/Timline_Images/image35.png" alt="Farbpalette"/>
          </a>
        </p>
      </article>
      <br/> <hr/> <br/>
      <article>
        <h2>Schritt: 28</h2>
        <h3>15.01.2023</h3>
        <p class="timeline_style grid">
          Warenkorb erstellt mit html, controller und model. Extra Tabelle erstellt, diese wird aber wieder gelöscht, da das
          Updaten nicht Funktioniert.
          <a href="/Timline_Images/image39.png"><img src="/Timline_Images/image39.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image25.png"><img src="/Timline_Images/image25.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image38.png"><img src="/Timline_Images/image48.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image81.png"><img src="/Timline_Images/image81.png" alt="Farbpalette"/>
          </a>
          Tabelle für den Checkout sieht wie die Produkttabelle aus, jedoch wird die user_id zu durch die buyer_id ersetzt. Der
          foreign key auf die ID des Produkts funktioniert, mit ON DELET CASCADE, jedoch werden dann der andere Felder neben der
          ID nicht mit ON UPDATE CASCADE geändert.
          <a href="/Timline_Images/image40.png"><img src="/Timline_Images/image40.png" alt="Farbpalette"/>
          </a>
        </p>
      </article>
      <br/> <hr/> <br/>
      <article>
        <h2>Schritt: 29</h2>
        <h3>15.01.2023</h3>
        <p class="timeline_style grid">
          Einbau des CSRF-Token. Auch die createToken.js wird durch die Pipe aufgerufen.
          <a href="/Timline_Images/image41.png"><img src="/Timline_Images/image41.png" alt="Farbpalette"/>
          </a>
        </p>
      </article>
      <br/> <hr/> <br/>
      <article>
        <h2>Schritt: 30</h2>
        <h3>15.01.2023</h3>
        <p class="timeline_style grid">
          Änderung an der Layout.html Navbar funktioniert nun ohne Javascript. Bei kleiner Displaygröße verschwindet die obere
          Navbar in ein Burger Menü und ist darüber auch abrufbar. Die untere Navbar bleibt bestehen. Die Funktion wird über CSS
          mit einer Checkbox realisiert.
          <a href="/Timline_Images/image76.png"><img src="/Timline_Images/image76.png" alt="Farbpalette"/>
          </a>
        </p>
      </article>
      <br/> <hr/> <br/>
      <article>
        <h2>Schritt: 31</h2>
        <h3>15.01.2023</h3>
        <p class="timeline_style grid">
          Neuer Ansatz beim Warenkorb eingebaut. <br/> Die Tabelle beinhaltet nun nur noch zwei Felder und referenziert mit einem
          Foreign Key auf die ID der Produkte.
          <a href="/Timline_Images/image73.png"><img src="/Timline_Images/image73.png" alt="Farbpalette"/>
          </a>
          <a href="/Timline_Images/image10.png"><img src="/Timline_Images/image10.png" alt="Farbpalette"/>
          </a>
          Der Aufruf im Warenkorb erfolgt über die buyer_id, da ein Käufer mehrer Produkte mit unterschiedlichen IDs haben kann,
          haben wir den Aufruf der Produkte wie folgt geregelt.
          <a href="/Timline_Images/image42.png"><img src="/Timline_Images/image42.png" alt="Farbpalette"/>
          </a>
          Da der erste Ansatz mit der Join() funktion nicht funktioniert hat, da im SQL dann nicht die Anzahl der Placeholder in
          Form der ? Gepasst hat. generieren wir nun anhand des product_id Array die anzahl der Placeholder und übergeben dann
          direkt das Array
          <a href="/Timline_Images/image8.png"><img src="/Timline_Images/image8.png" alt="Farbpalette"/>
          </a>
        </p>
      </article>
      <br/> <hr/> <br/>
      <article>
        <h2>Schritt: 32</h2>
        <h3>16.01.2023</h3>
        <p class="timeline_style grid">
          Der Warenkorb hat jetzt Funktion. Er rechnet die Gesamtsumme aller Produkte aus und zeigt die Einzel- und Gesamtsumme
          an. Außerdem kann man die Produkte aus dem Warenkorb entfernen. Zusätzlich kann man durch einen Klick auf Kaufen die
          Produkte kaufen und die Waren werden aus dem Warenkorb entfernt.
          <a href="/Timline_Images/CODELARS.png"><img src="/Timline_Images/CODELARS.png" alt="Screenshot von Code"/>
          </p>
        </article>
      </div>
    </div>
  {% endblock %}