{% extends "layout.html.njk" %} {% block content %}

<div class="profile grid">
  
  <h1 class="sr-only">Warenkorb</h1> 
  <ul class="profileChanges">
    <li><h2>Warenkorb</h2></li>
    {% for product in products %}
    <li>Preis: {{product.price}} € </li>
   {%endfor%}
     <hr>
    <li>Gesamtbetrag: {{sum}} € </li>
    <li><form action="/checkout/buy"><button class="button">Kaufen</button></form></li>
  </ul>
  <div class="grid-container-products profileProducts grid">
    {% for product in products %}
    <article class="product-card grid">
      <picture >
        <img class="product-img" src="{{product.upload}}" alt="" />
      </picture>
      <div class="product-content">
        <h2 class="product-title">{{product.title}}</h2>
        <p class="product-price">{{product.price}} €</p>
        <a href="/checkout/{{product.id}}/delete">Aus Warenkorb entfernen</a>
        
      </div>
    </article>
    {% endfor%}
  </div>
</div >
{% endblock %}